.menu-container {
  background: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
}

.menu-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.group-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 450px;
  max-height: 220px;
  width: 100%;
  height: 100%;
}

.menu-option-light,
.menu-option-pink {
  display: flex;
  flex-direction: column;
  max-height: 180px;
  max-width: 200px;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;

  box-sizing: border-box;
  border-radius: 20px;

  background: transparent;

  font-family: "Fira Code", monospace;
  font-weight: 300;
  font-size: 25px;

  transition: 0.2s;
}

.menu-option-pink {
  border: 2px solid #ffffff;
  color: #fff;
}

.menu-option-light {
  border: 2px solid #3b3b3b;
  color: #3b3b3b;
}

.menu-option-light svg,
.menu-option-pink svg {
  font-size: 35px;
  transition: 0.2s;
}

.menu-option-pink svg {
  color: #fff;
}

.menu-option-light svg {
  color: #3b3b3b;
}

.menu-option-pink:hover {
  background: #fff;
  color: #ff84b1;
}

.menu-option-light:hover {
  background: #3b3b3b;
  color: #fff;
}

.menu-option-pink:hover svg {
  color: #ff84b1;
}

.menu-option-light:hover svg {
  color: #fff;
}
