.container-geral {
  display: grid;
  grid-template-rows: 3fr 1fr 6fr;
  row-gap: 10px;
  width: 80%;
}

@media (max-width: 1440px) {
  .container-geral {
    grid-template-rows: 2fr 1fr 6fr;
    width: 92%;
  }
}

.input-text-light,
.input-text-pink {
  background: transparent;
  padding: 7px 15px;

  font-size: 16px;

  width: 95%;
  justify-self: center;

  font-family: "Fira Code", monospace;

  box-sizing: border-box;
  border-radius: 10px;

  transition: all 0.2s;
}

.input-text-pink {
  color: #fff;
  border: 2px solid #fff;
}

.input-text-light {
  color: #3b3b3b;
  border: 2px solid #3b3b3b;
}

.input-text-pink::placeholder {
  color: #ffffff;
}

.input-text-light::placeholder {
  color: #3b3b3b;
}

.input-text-pink:focus {
  background: #fff;
  color: #ff84b1;
}

.input-text-light:focus {
  background: #3b3b3b;
  color: #fff;
}

.key-container-pink,
.key-container-light {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  padding: 25px;

  box-sizing: border-box;
  border-radius: 30px;

  transition: 0.2s;
}

.key-container-pink {
  border: 2px solid #fff;
}

.key-container-light {
  border: 2px solid #3b3b3b;
}

.firstline {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-bottom: 10px;
  justify-content: space-between;
  font-size: 15px;
}

.key-pink,
.key-light,
.key-pressed-pink,
.key-pressed-light {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 50px;
  height: 50px;

  box-sizing: border-box;
  border-radius: 8px;

  font-family: "Fira Code", monospace;
  cursor: pointer;

  transition: 0.1s;
}

.key-pink {
  color: #fff;
  border: 2px solid #ffffff;
}

.key-light {
  color: #3b3b3b;
  border: 2px solid #3b3b3b;
}

.text-pink,
.text-light {
  padding: 0 0 5% 0;
  width: 100%;
  font-size: 20px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.text-pink {
  color: #878787;
}

.text-light {
  color: #7d7d7d;
}

.textFocus-pink,
.textFocus-light {
  padding: 0 0 5% 0;
  width: 100%;
  font-size: 20px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.textFocus-pink {
  color: #fff;
}

.textFocus-light {
  color: #323232;
}

.key-pressed-pink {
  background: #fff;
  color: #ff84b1;
  border: 2px solid #ffffff;
}

.key-pressed-light {
  background: #3b3b3b;
  color: #fff;
  border: 2px solid #3b3b3b;
}

.key-pink:hover {
  background: #fff;
  color: #ff84b1;
}

.key-light:hover {
  background: #3b3b3b;
  color: #fff;
}

.key-backspace-pink,
.key-backspace-light,
.key-backspace-pressed-pink,
.key-backspace-pressed-light {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 110px;
  height: 50px;

  box-sizing: border-box;
  border-radius: 8px;

  font-family: "Fira Code", monospace;
  cursor: pointer;

  transition: 0.2s;
}

.key-backspace-pink {
  color: #fff;
  border: 2px solid #ffffff;
}

.key-backspace-light {
  color: #3b3b3b;
  border: 2px solid #3b3b3b;
}

.key-backspace-pink:hover {
  background: #fff;
  color: #ff84b1;
}

.key-backspace-light:hover {
  background: #3b3b3b;
  color: #fff;
}

.key-shift-pink,
.key-shift-light {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 120px;
  height: 50px;

  box-sizing: border-box;
  border-radius: 8px;

  font-family: "Fira Code", monospace;
  cursor: pointer;

  transition: 0.2s;
}

.key-shift-pink {
  color: #fff;
  border: 2px solid #ffffff;
}

.key-shift-light {
  color: #3b3b3b;
  border: 2px solid #3b3b3b;
}

.key-shift-pink:hover {
  background: #fff;
  color: #ff84b1;
}

.key-shift-light:hover {
  background: #3b3b3b;
  color: #fff;
}

.key-capslock-pink,
.key-capslock-light {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100px;
  height: 50px;

  box-sizing: border-box;
  border-radius: 8px;

  font-family: "Fira Code", monospace;
  cursor: pointer;

  transition: 0.2s;
}

.key-capslock-pink {
  color: #fff;
  border: 2px solid #ffffff;
}

.key-capslock-light {
  color: #3b3b3b;
  border: 2px solid #3b3b3b;
}

.key-capslock-pink:hover {
  background: #fff;
  color: #ff84b1;
}

.key-capslock-light:hover {
  background: #3b3b3b;
  color: #fff;
}

.key-tab-pink,
.key-tab-light {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 50px;

  box-sizing: border-box;
  border-radius: 8px;

  font-family: "Fira Code", monospace;
  cursor: pointer;

  transition: 0.2s;
}

.key-tab-pink {
  color: #fff;
  border: 2px solid #ffffff;
}

.key-tab-light {
  color: #3b3b3b;
  border: 2px solid #3b3b3b;
}

.key-tab-pink:hover {
  background: #fff;
  color: #ff84b1;
}

.key-tab-light:hover {
  background: #3b3b3b;
  color: #fff;
}

.key-backlash-pink,
.key-backlash-light,
.key-backlash-pressed-pink,
.key-backlash-pressed-light {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 50px;

  box-sizing: border-box;
  border-radius: 8px;

  font-family: "Fira Code", monospace;
  cursor: pointer;

  transition: 0.2s;
}

.key-backlash-pink {
  color: #fff;
  border: 2px solid #ffffff;
}

.key-backlash-light {
  color: #3b3b3b;
  border: 2px solid #3b3b3b;
}

.key-backlash-pink:hover {
  background: #fff;
  color: #ff84b1;
}

.key-backlash-light:hover {
  background: #3b3b3b;
  color: #fff;
}

.key-backspace-pressed-pink {
  background: #fff;
  color: #ff84b1;
  border: 2px solid #ffffff;
}

.key-backspace-pressed-light {
  background: #3b3b3b;
  color: #fff;
  border: 2px solid #3b3b3b;
}

.key-backlash-pressed-pink {
  background: #fff;
  color: #ff84b1;
  border: 2px solid #ffffff;
}

.key-backlash-pressed-light {
  background: #3b3b3b;
  color: #fff;
  border: 2px solid #3b3b3b;
}

.key-windows-pink,
.key-windows-light {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 60px;
  height: 50px;

  box-sizing: border-box;
  border-radius: 8px;

  font-family: "Fira Code", monospace;
  cursor: pointer;

  transition: 0.2s;
}

.key-windows-pink {
  color: #fff;
  border: 2px solid #ffffff;
}

.key-windows-light {
  color: #3b3b3b;
  border: 2px solid #3b3b3b;
}

.key-windows-pink:hover {
  background: #fff;
  color: #ff84b1;
}

.key-windows-light:hover {
  background: #3b3b3b;
  color: #fff;
}

.key-ctrl-pink,
.key-ctrl-light {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 70px;
  height: 50px;

  box-sizing: border-box;
  border-radius: 8px;

  font-family: "Fira Code", monospace;
  cursor: pointer;

  transition: 0.2s;
}

.key-ctrl-pink {
  color: #fff;
  border: 2px solid #ffffff;
}

.key-ctrl-light {
  color: #3b3b3b;
  border: 2px solid #3b3b3b;
}

.key-ctrl-pink:hover {
  background: #fff;
  color: #ff84b1;
}

.key-ctrl-light:hover {
  background: #3b3b3b;
  color: #fff;
}

.key-ctrl-pressed {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #fff;
  color: #ff84b1;

  width: 70px;
  height: 50px;

  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 8px;

  font-family: "Fira Code", monospace;
  cursor: pointer;

  transition: 0.2s;
}

.key-space-pink,
.key-space-light,
.key-space-pressed-pink,
.key-space-pressed-light {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 58%;
  height: 50px;

  box-sizing: border-box;
  border-radius: 8px;

  font-family: "Fira Code", monospace;
  cursor: pointer;

  transition: 0.2s;
}

.key-space-pink {
  color: #fff;
  border: 2px solid #ffffff;
}

.key-space-light {
  color: #3b3b3b;
  border: 2px solid #3b3b3b;
}

.key-space-pink:hover {
  background: #fff;
  color: #ff84b1;
}

.key-space-light:hover {
  background: #3b3b3b;
  color: #fff;
}

.key-space-pressed-pink {
  background: #fff;
  color: #ff84b1;
  border: 2px solid #ffffff;
}

.key-space-pressed-light {
  background: #3b3b3b;
  color: #fff;
  border: 2px solid #3b3b3b;
}

@media (max-width: 1366px) {
  .input-text-light,
  .input-text-pink {
    width: 75%;
  }

  .key-container-pink,
  .key-container-light {
    padding: 15px;
  }

  .firstline {
    font-size: 13px;
  }

  .key-pink,
  .key-light,
  .key-pressed-pink,
  .key-pressed-light {
    width: 45px;
    height: 45px;
  }

  .key-backspace-pink,
  .key-backspace-light {
    width: 90px;
    height: 45px;
  }
  .key-shift-pink,
  .key-shift-light {
    width: 100px;
    height: 45px;
  }

  .key-capslock-pink,
  .key-capslock-light {
    width: 80px;
    height: 45px;
  }

  .key-tab-pink,
  .key-tab-light {
    width: 65px;
    height: 45px;
  }

  .key-backlash-pink,
  .key-backlash-light,
  .key-backlash-pressed-pink,
  .key-backlash-pressed-light {
    width: 65px;
    height: 45px;
  }

  .key-windows-pink,
  .key-windows-light {
    width: 55px;
    height: 45px;
  }

  .key-ctrl-pink,
  .key-ctrl-light {
    width: 60px;
    height: 45px;
  }

  .key-space-pink,
  .key-space-light,
  .key-space-pressed-pink,
  .key-space-pressed-light {
    width: 58%;
    height: 45px;
  }

  .input-text-light,
  .input-text-pink {
    padding: 5px 10px;
    font-size: 14px;
  }
}
