.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 3% 15% 0 15%;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  text-align: center;
}
